RESEND_API_KEY=your_resend_api_key
MAIL_FROM=you@yourdomain.com
JWT_PRIVATE_KEY=your_jwt_private_key
MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/<db>?appName=<app>
NODE_ENV=staging